<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:pict="http://typo3.org/ns/Rintisch/PictureExtend/ViewHelpers"
    xmlns:i="http://typo3.org/ns/B13/Picture/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:comment><!-- Width for large --></f:comment>
<f:variable name="lgWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.lg}">
        <f:then>
            {settings.responsiveimages.contentelements.{data.CType}.width.lg}
        </f:then>
        <f:else>
            1600
        </f:else>
    </f:if>
</f:variable>

<f:comment><!-- Width for medium --></f:comment>
<f:variable name="mdWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.lg}">
        <f:then>
            {settings.responsiveimages.contentelements.{data.CType}.width.md}</f:then>
        <f:else>1200</f:else>
    </f:if>
</f:variable>

<f:comment><!-- Width for small --></f:comment>
<f:variable name="smWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.sm}">
        <f:then>{settings.responsiveimages.contentelements.{data.CType}.width.sm}</f:then>
        <f:else>768</f:else>
    </f:if>
</f:variable>

<f:comment><!-- Width for extrasmall --></f:comment>
<f:variable name="xsWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.xs}">
        <f:then>{settings.responsiveimages.contentelements.{data.CType}.width.xs}</f:then>
        <f:else>576</f:else>
    </f:if>
</f:variable>

<i:image
    image="{file}"
    width="1600"
    pictureClass="{pictureClass}"
    addWebp="1"
    loading="1"
    sources="{
        lg: {width: '{lgWidth}', cropVariant: 'large'},
        md: {width: '{mdWidth}', cropVariant: 'medium'},
        sm: {width: '{smWidth}', cropVariant: 'small'},
        xs: {width: '{xsWidth}', cropVariant: 'small'}
    }"
    alt="{file.properties.alternative}"/>
</html>
