<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:i="http://typo3.org/ns/B13/Picture/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:comment>
    <!-- WIDTH FOR LARGE -->
</f:comment>
<f:variable name="lgWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.lg}">
        <f:then>{settings.responsiveimages.contentelements.{data.CType}.width.lg}</f:then>
        <f:else>{settings.responsiveimages.default.width.lg}</f:else>
    </f:if>
</f:variable>
<f:if condition="{imageCols}">
    <f:variable name="lgWidth">{lgWidth / imageCols}</f:variable>
</f:if>

<f:comment>
    <!-- WIDTH FOR MEDIUM -->
</f:comment>
<f:variable name="mdWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.md}">
        <f:then>{settings.responsiveimages.contentelements.{data.CType}.width.md}</f:then>
        <f:else>{settings.responsiveimages.default.width.md}</f:else>
    </f:if>
</f:variable>
<f:if condition="{imageCols}">
    <f:variable name="mdWidth">{mdWidth / imageCols}</f:variable>
</f:if>

<f:comment>
    <!-- WIDTH FOR SMALL -->
</f:comment>
<f:variable name="smWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.sm}">
        <f:then>{settings.responsiveimages.contentelements.{data.CType}.width.sm}</f:then>
        <f:else>{settings.responsiveimages.default.width.sm}</f:else>
    </f:if>
</f:variable>
<f:if condition="{imageCols}">
    <f:variable name="smWidth">{smWidth / imageCols}</f:variable>
</f:if>

<f:comment>
    <!-- WIDTH FOR XS
        The layout for this size is always 1 column. So we do not divide it by the columns
    -->
</f:comment>
<f:variable name="xsWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.xs}">
        <f:then>{settings.responsiveimages.contentelements.{data.CType}.width.xs}</f:then>
        <f:else>{settings.responsiveimages.default.width.xs}</f:else>
    </f:if>
</f:variable>
<f:if condition="{imageCols}">
    <f:variable name="xsWidth">{xsWidth / imageCols}</f:variable>
</f:if>

<f:if condition="{file.originalFile.properties.extension} == svg">
    <f:then>
        <f:comment><!-- Use simple image viewhelper for SVGs --></f:comment>
        <f:image
            alt="{f:if(condition: '{file.properties.alternative}', then: '{file.properties.alternative}', else: '')}"
            image="{file}"/>
    </f:then>
    <f:else>
        <i:image
            image="{file}"
            width="{lgWidth}"
            pictureClass="{pictureClass}"
            fileExtension="{settings.responsiveimages.fileExtension}"
            class="{imageClass}"
            addWebp="{settings.responsiveimages.addWebP}"
            loading="{settings.responsiveimages.lazyLoading}"
            sources="{
        lg: {width: '{lgWidth}', cropVariant: 'lg'},
        md: {width: '{lgWidth}', cropVariant: 'lg'},
        sm: {width: '{smWidth}', cropVariant: 'sm'},
        xs: {width: '{smWidth}', cropVariant: 'sm'}
    }"
            alt="{f:if(condition: '{file.properties.alternative}', then: '{file.properties.alternative}', else: '')}"/>
    </f:else>
</f:if>
</html>
