<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:pict="http://typo3.org/ns/Rintisch/PictureExtend/ViewHelpers"
    xmlns:i="http://typo3.org/ns/B13/Picture/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:comment><!-- Width for large --></f:comment>
<f:variable name="lgWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.lg}">
        <f:then>{settings.responsiveimages.contentelements.{data.CType}.width.lg}</f:then>
        <f:else>{settings.responsiveimages.default.width.lg}</f:else>
    </f:if>
</f:variable>

<f:comment><!-- Width for medium --></f:comment>
<f:variable name="mdWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.lg}">
        <f:then>{settings.responsiveimages.contentelements.{data.CType}.width.md}</f:then>
        <f:else>{settings.responsiveimages.default.width.lg}</f:else>
    </f:if>
</f:variable>

<f:comment><!-- Width for small --></f:comment>
<f:variable name="smWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.sm}">
        <f:then>{settings.responsiveimages.contentelements.{data.CType}.width.sm}</f:then>
        <f:else>{settings.responsiveimages.default.width.sm</f:else>
    </f:if>
</f:variable>

<f:comment><!-- Width for extrasmall --></f:comment>
<f:variable name="xsWidth">
    <f:if condition="{settings.responsiveimages.contentelements.{data.CType}.width.xs}">
        <f:then>{settings.responsiveimages.contentelements.{data.CType}.width.xs}</f:then>
        <f:else>{settings.responsiveimages.default.width.xs}</f:else>
    </f:if>
</f:variable>

<f:if condition="{file.originalFile.properties.extension} == svg">
    <f:then>
        <pict:inlineSvg image="{file}" class="w-full h-auto"/>
    </f:then>
    <f:else>
        <i:image
            image="{file}"
            width="{settings.responsiveimages.default.width.lg}"
            pictureClass="{pictureClass}"
            class="{imageClass}"
            addWebp="{settings.responsiveimages.addWebP}"
            loading="{settings.responsiveimages.lazyLoading}"
            sources="{
        lg: {width: '{lgWidth}', cropVariant: 'lg'},
        md: {width: '{mdWidth}', cropVariant: 'md'},
        sm: {width: '{smWidth}', cropVariant: 'sm'},
        xs: {width: '{xsWidth}', cropVariant: 'sm'}
    }"
            alt="{f:if(condition: '{file.properties.alternative}', then: '{file.properties.alternative}', else: '')}"/>

    </f:else>
</f:if>
</html>
