<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:e="http://typo3.org/ns/Ssch/Typo3Encore/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:if condition="{gallery.rows}">

    <f:if condition="{data.image_zoom}">
        <e:renderWebpackScriptTags entryName="lightbox"/>
        <e:renderWebpackLinkTags entryName="lightbox"/>
    </f:if>

    <f:variable name="imagecols">1</f:variable>
    <f:if condition="{files -> f:count()} > 1">
        <f:variable name="imagecols">{data.imagecols as integer}</f:variable>
    </f:if>
    <div
        class="js-gallery w-full relative overflow-hidden grid grid-cols-{imagecols} gap-2">
        <f:for each="{files}" as="file">
            <div class="w-full h-full">
                <f:render partial="Media/Type/Image" arguments="{file: file, data: data, settings: settings,  pictureClass: 'rounded flex overflow-hidden', imageClass: ''}"/>
            </div>
        </f:for>
    </div>
</f:if>
</html>
