<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:e="http://typo3.org/ns/Ssch/Typo3Encore/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:if condition="{gallery.rows}">

    <f:variable name="imageCols">1</f:variable>
    <f:if condition="{files -> f:count()} > 1">
        <f:variable name="imageCols">{data.imagecols as integer}</f:variable>
    </f:if>

    <f:if condition="{data.image_zoom}">
        <f:then>
            <e:renderWebpackScriptTags entryName="lightbox"/>
            <e:renderWebpackLinkTags entryName="lightbox"/>

            <div class="js-gallery{f:if(condition: "{settings.picture_extend.additionalCssClasses.gallery}", then: " {settings.picture_extend.additionalCssClasses.gallery}")}">
                <f:for each="{files}" as="file">
                    <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings, imageCols: imageCols}"/>
                </f:for>
            </div>
        </f:then>
        <f:else>
            <f:for each="{files}" as="file">
                <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings, imageCols: imageCols}"/>
            </f:for>
        </f:else>
    </f:if>

</f:if>
</html>
