<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:e="http://typo3.org/ns/Ssch/Typo3Encore/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:if condition="{gallery.rows}">

    <f:if condition="{data.image_zoom}">
        <e:renderWebpackScriptTags entryName="lightbox"/>
        <e:renderWebpackLinkTags entryName="lightbox"/>
    </f:if>

    <f:variable name="imageCols">1</f:variable>
    <f:if condition="{files -> f:count()} > 1">
        <f:variable name="imageCols">{data.imagecols as integer}</f:variable>
    </f:if>

    <f:comment><!-- for purgeCSS: grid-cols-1 grid-cols-2 grid-cols-3 grid-cols-4 grid-cols-5 grid-cols-6 grid-cols-7 --></f:comment>
    <div
        class="js-gallery w-full relative overflow-hidden grid grid-cols-1 sm:grid-cols-{imageCols} gap-6">
        <f:for each="{files}" as="file">
            <div class="w-full h-full">
                <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings,  pictureClass: 'rounded flex overflow-hidden', imageClass: '', imageCols: imageCols}"/>
            </div>
        </f:for>
    </div>
</f:if>
</html>
